.Weather{
  border: 1px solid #dadde1;
  padding: 16px;
 
 
  border-radius: 5px;
}
.Weather form{
  margin-bottom: 20px;
}
.Weather h1{
  
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul{
  margin: 0;
  padding: 0;
}
.Weather li{
list-style: none;
font-size: 25px;
}
.Weather .temperature{
  font-size: 65px;
  font-weight: 400;
}
.Weather img{
  margin-top: -32px;
  margin-right: 10px;
}
.Weather .unit{
  position:relative;
  top: -23px;
  font-weight: 400;
  margin-left:5px;
}