.Weather{
  border: 1px solid #dadde1;
  padding: 16px;
 border-bottom: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);

}
.Weather form{
  margin-bottom: 20px;
}
.Weather h1{
  
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul{
  margin: 0;
  padding: 0;
}
.Weather li{
list-style: none;
font-size: 25px;
}
.Weather .temperature{
  position:relative;
  margin-left: -10px;
  font-size: 65px;
  font-weight: 400;

}
.Weather canvas{
margin-top: 20px;
margin-right: 20px;  
  max-width: 64px;
}
.Weather .unit{
  position:relative;
  top: -23px;
  font-weight: 400;
  margin-left:5px;
}