.Weather{
  border: 1px solid #dadde1;
  padding: 16px;
 border-bottom: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: radial-gradient(closest-side at 73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(closest-side at 91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;

}
.Weather form{
  margin-bottom: 20px;
}
.Weather h1{
  
  margin: 20px 0 0 0;
  line-height: 30px;
}
.Weather ul{
  margin: 0;
  padding: 0;
}
.Weather li{
list-style: none;
font-size: 25px;
}
.Weather .temperature{
  position:relative;
  margin-left: -10px;
  font-size: 65px;
  font-weight: 400;

}
.Weather canvas{
margin-top: 20px;
margin-right: 20px;  
  max-width: 64px;
  margin-left: 20px;
}
.Weather .unit{
  position:relative;
  top: -35px;
  font-weight: 400;

}
.weatherInfo .text-capitalize{
  font-size: 20px;
  line-height: 35px;
  margin-left: 2px;
  
}
 .weatherInfo .condition{
  margin-top: 20px;
  margin-left: 80px;
}
.weatherInfo .humidity {
font-size: 20px;
}
.weatherInfo .wind {
  font-size: 20px;
  }
  .date{
    margin-top: 10px;
  }